<h3>Welcome!</h3>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="panel-title">Please choose:</h3>
        </div>

        <div class="panel-body">
          <div class="row">
            <form role='form'>
                <div class="col-md-6 col__no-padding">
                  <div class="form-group">
                    <%= link_to 'Generate a new Game', new_game_path, class: 'btn btn-primary btn-lg pull-right' %>
                  </div>
                </div>

                <div class="col-md-6 col__no-padding">
                  <div class="form-group col-xs-10">
                    <span class='form-control input-lg pull-left gray-lighter'><%= current_uuid %></span>
                  </div>
                </div>
            </form>
          </div>

          <div class="row">
            <%= form_for @game, url: search_games_url, html: {role: 'form'} do |f| %>
                <%= render partial: 'shared/errors', locals: {model: @game} %>
                <div class="col-md-6 col__no-padding">
                  <div class="form-group">
                    <%= f.submit 'Compete in a Game that is waiting for an adversary', class: "btn btn-primary btn-lg pull-right" %>
                  </div>
                </div>
                <div class="col-md-6 col__no-padding">
                  <div class="col-xs-10">
                    <%= f.text_field :uuid, class: 'form-control input-lg pull-left', placeholder: "Enter UUID" %>
                  </div>
                </div>
            <% end %>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>